.header{
    padding: 0 0 10%;
}
.header-button{
    color: white;
    background-color: #000;
    width: 100%;
    height: 40px;
}

.header-access{
    display: flex;
    gap: 50%;
}

.menu{
    display: flex;
    gap: 25%;
}
a{
    color: orange;
}

#header-image{
    width: 100%;
    height: 600px;
}

.about{
    display: flex;
    gap: 10%;
  padding: 10% 20%;
}

.about-image{
    width: 90%;
    height: 70%;
}
.about-span{
    font-size: 50px;
}

.about-span-image{
    width: 100%;
    height: 90%;
}
.about-year{
    font-size: 50px;
}

.header-email{
    display: flex;
    gap: 50px;
}

.logoipsum-services{
    display: flex;
    gap: 10%;
}

#services{
    width: 130px;
    height: 50px;
}
#service{
    width: 130px;
    
}
#last-service{
    width: 130px;
}
.what-we-do{
    padding: 10% 20%;
}
.our-services{
    display: flex;
    gap: 20px;
    width: 1200px;
}
.packing{
    width: 90px;
}
.Storage{
    width: 90px;
}
.Transport{
    width: 90px;
}
.Insurance{
    width: 90px;
}
.last-services{
    display: flex;
    
}
.chose{
    padding: 10% 25%;
}
.chose-Riaad{
    display: flex;
    gap: 10%;
}
.chose-image{
    width: 400px;
    height: 600px;
}
#chose-detail{
    text-align: center;
}
.video{
    padding: 10% 0;
}
.booking-video{
    width: 100%;
    height: 600px;
}
.book-now{
    display: flex;
    /* width: 1500px; */
    height: 400px;
}
.book-quote{
    border: 1px;
    background-color: orange;
    color: white;
    width: 50%;
}
.book-form{
    border: 1px;
    background-color: rgba(20, 20, 255, 0.959);
    color: white;
    width: 50%;
}
.book-button{
    color: white;
    background-color: orange;
}
.booking-form{
    display: flex;
    gap: 15%;
    padding: 50px;
    /* width: 50px; */
    /* height: 100px; */
}
.form-left{
    width: 150px;
    height: 20px;
}
.testimonials{
    padding: 10% 25%;
}
.testimonials-link{
    text-align: center;
}
.testimonials-statement{
    text-align: center;
    font-size: 50px;
}
.testimonials-declaration{
    display: flex;
    width: 900px;
    gap: 20%;
}
.news{
    padding: 10% 0;
}
.news-link{
    text-align: center;
}
.news-join{
    text-align: center;
    font-size: 50px;
}
.news-subscribe{
    display: flex;
    gap: 30%;
    padding: 0 35%;
    align-items: baseline;
}
.news-button{
    width: 160px;
    height: 55px;
    color: white;
    background-color: orange;
}
.our-blog{
    padding: 10% 0;
}
.blog{
    text-align: center;
}
.blog-articles{
    text-align: center;
    font-size: 50px;
}
.blog-images{
    display: flex;
    gap: 30px;
}
.blog-images-first{
    width: 600px;
}
.blog-images-second{
    width: 600px;
}
.blog-images-third{
    width: 600px;
} 
.footer-top{
    display: flex;
    gap: 40%;
    border: 1px orange;
    background-color: orange;
    height: 200px;
}
.footer-note{
    color: white;
    padding: 4% 0 0 15%;
}
.footer_button{
    padding: 4% 15% 0 0; 
}
.footer-button{
    width: 160px;
    height: 55px;
    color: white;
    background-color: #000;
}
.footer{
    border: 1px;
    background-color: #242323;
    height: 360px;
    color: white;
}
.footer-conclusion{
    display: flex;
    gap: 15%;
    padding: 0 10% ;
    /* border: 1px;
    background-color: #242323;
    height: 500px;
    color: white; */
}
.footer-icons{
    display: flex;
    gap: 50px;
    padding: 5%;
}
.fa-twitter{
    color: orange;
}
.line-icon{
    display: flex;
}
hr{
    height: 0px;
    width: 70%;
}
.fa-facebook{
    padding: 0 400px 0 0;
    color: orange;
}
.footer-copyright{
    text-align: center;
}